.navbar {
  position: fixed;
  background: #000033;
  height: 60px;
  width: 100%;
  min-width: 653px;
  padding: 0px;
  margin: 0px;
  z-index: 4;
}

body {
  padding: 0px;
  margin: 0px;
}

@media only screen and (max-width: 2000px) {
  .logo {
    position: relative;
    float: left;
    height: 50px;
    margin-top: 5px;
    left: 25%;
  }

  .buttons {
    position: relative;
    float: left;
    text-align: center;
    background: #000033;
    height: 60px;
    width: 400px;
    left: 25%;
  }
}
@media only screen and (max-width: 653px) {
  .logo {
    position: relative;
    float: left;
    height: 50px;
    margin-top: 5px;
    left: 0%;
  }

  .buttons {
    position: relative;
    float: left;
    text-align: center;
    background: #000033;
    height: 60px;
    width: 400px;
    left: 0%;
  }
}
.button {
  display: inline-block;
  background: #000033;
  height:40px;
  width: 80px;
  text-align: center;
  padding-top: 20px;
  margin-right: 5px;
}

.buttonLine {
  position: relative;
  height: 3px;
  width:40px;
  margin-top: 19px;
  margin-left: 20px;
}

.body {
  height: 100%;
  width: 75%;
  background: #333333;
  padding-top: 65px;
  padding-left:13%;
  padding-right: 15%;
  text-align: center;
}

.card {
  width: 234px;
  height: 383px;
  padding: 0px;
  margin: 7px;
  display: inline-block;
  position: relative;
}

.cardStructure {
  width: 234px;
  height: 383px;
  padding: 0px;
  margin: 0px;
  z-index: 2;
  position: absolute;
  border: solid 5px;
  transition: border 0.5s;
}

.cardImage {
  position:absolute;
  top: 40px;
  left: 5px;
  height: 220px;
  width: 234px;
  z-index: 1;
}

.cardName {
  position: absolute;
  top: 25px;
  left: 50px;
  height:20px;
  width: 150px;
  z-index: 3;
  font-weight:bold;
}

.cardDescription {
  position: absolute;
  top: 290px;
  left: 50px;
  height:100px;
  width: 150px;
  z-index: 3;
}

.test {
  position:relative;
  width: 250px;
  height: 250px;
  background: blue;
  z-index:5;
}
